<div>
    <h1>Noticias</h1> 
    <span><%= link_to "Inscreva-se para receber noticias completas!", new_inscrito_path %></span>
</div>
<h3>IBM vai comprar empresa de software Red Hat por US$ 34 bilhões</h3>
<p>A gigante IBM vai comprar a empresa norte-americana de software Red Hat por US$ 34 bilhões, incluindo dívida, em um movimento de busca por diversificar seus negócios de tecnologia de hardware e consultoria para outros produtos e serviços de maior margem.</p>

<p>O compromisso fez as ações da produtora de software dispararem 50% nesta segunda-feira (29). Os papeis da Red Hat ainda eram negociados em torno de 15 dólares abaixo do preço de US$ 190 acordado pelas duas empresas, o que analistas interpretavam como algum nervosismo entre os investidores sobre as chances de realização do acordo.</p>
