<h1>Noticias Premium</h1> 
<h3>Apple começa a vender o iPhone XR nos EUA por US$ 749</h3>
<p>A Apple começou a vender nesta sexta-feira (26) o novo iPhone XR, versão mais barata da atual linha da empresa, em mercados como Estados Unidos e China.

Com preço partindo de US$ 749, o smartphone foi apresentando em setembro passado, juntamente com Iphone XS (US$ 999) e Iphone XS Max (US$ 1.099).

Enquanto ainda não há informações sobre quando chegará o Brasil, o XR é a aposta para ser a base desta nova gerações de Iphones.

Com tela de 6,1 polegadas, o XR é feito de alumínio e tem opções nas cores branca, azul, preta, amarela e vermelha. O aparelho tem display de LCD, e não de OLED como o Xs e Xs Max, mas traz muitas das funcionalidades destes modelos.

A nova linha chega para substituir iPhone 8, iPhone X e iPhone 8 Plus, apresentados no ano passado.</p>

<h3>Vendas da Amazon no 3º tri crescem, mas ficam abaixo do esperado</h3>
<p>As vendas trimestrais da Amazon.com ficaram abaixo do esperado por Wall Street, o que fez as ações da maior varejista online do mundo recuarem 6% no pregão após o fechamento do mercado.

As vendas líquidas da empresa subiram para US$ 56,58 bilhões ante US$ 43,74 bilhões no mesmo período do ano passado, mas ficaram abaixo da previsão média de analistas, de faturamento de US$ 57,1 bilhões, segundo dados da Refinitiv.

O lucro líquido da Amazon no trimestre subiu para US$ 2,88 bilhões, ou US$ 5,75 por ação, ante US$ 256 milhões, ou US$ 0,52 dólar, um ano antes.

A receita da divisão de serviços de computação em nuvem, Amazon Web Services (AWS), disparou 45,7%, para US$ 6,68 bilhões, praticamente em linha com os US$ 6,67 de dólares de estimativas anteriores.</p>

<h3>Dona do Google supera previsões de lucro no 3º trimestre</h3>
<p>A Alphabet superou as previsões de analistas de Wall Street para o lucro do terceiro trimestre, uma vez que as receitas com anúncios online do grupo de buscas na internet dispararam.

O lucro líquido somou US$ 9,19 bilhões, ou US$ 13,06 por ação, ante US$ 6,73 bilhões, ou US$ 9,57 por papel, um ano antes. O mercado esperava US$ 10,45 por ação, segundo a Bloomberg.

As receitas deram um salto para US$ 33,74 bilhões, ante US$ 27,8 bilhões, informou a dona do Google nesta quinta-feira (25).

A previsão média de analistas era de receita de US$ 34,05 bilhões e lucro de US$ 10,45 por ação, de acordo com dados da Refinitiv.</p>

<%= link_to 'Voltar', main_noticias_path %>



