/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 .alinha{
     text-align: center;
 }
 
 #inscrito_email{
     margin-left: 50%;
 }
 
 nav a:hover{
    border-bottom: 3px solid black;
 }
 
 nav{
  padding-bottom: 0 !important;
 }
 
 .containersize{
  max-width: 400px !important;
 }
 
 .center{
  width: 100px;
 }
 
 .user{
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
 }
 .featurette-divider-cadastro{
  margin-top: 15%;
  margin-bottom: 0;
   position: relative;
 }
  
 .featurette-heading{
  text-align: center;margin: 30px 0px;
 }
 
 .button_to{
  text-align: center
 }
 
  .card-text{
  margin-bottom:10; 
 }
 
 #texto{
  position: relative; 
  overflow: hidden;
 }
 
 .col-md-6{
  margin-left: 25%;
 }
 
 .list-group-item{
  text-align: center;
  
 }
 
 .footer-col-title:visited{
  color:black;
  text-decoration: none;
 }
 
  .footer-col-title:hover{
  color:black;
  text-decoration: none;
 }

 .img-sobre{
  float: left;
 }
 
  .col-6.col-md{
  margin-left: 8%;
  display: inline;
 }
 
 .card-deck{
  margin-left: 0 !important;
  margin-right: 0 !important;
 }
 
 nav a{
  background-color: #f8f9fa !important;
 }
 
footer {
}